* {
  margin: 0;
  padding: 0;
}

html {
}

body {
    /* position:fixed; */
}

.container{
    width: 90%;
    margin: 0 auto;
}

header{
    width: 100%;
    position: fixed;
    background: #3399FF;
    padding: 0;
    color: #fff;
    z-index: 1000;
    border-style: solid;
    border-width: 0 0 4px 0;
}

header{
    top: 0;
}

footer{
    bottom: 0;
    background: #24478f;
    color: #fff;
    padding: 20px;
}

#copyright {
    float: left;
}

#enquiry {
    float: right;
}

#enquiry a {
    color: orange;
    text-decoration: none;
}

.logo {
    margin-top: 10px;
    margin-left: 3%;
    float: left;
}

.logo img {
    border-radius: 50%;
    width : 45px;
    float: left;
}

.logo h1 {
    font-size: 30px;
    padding: 0 10px 5px 50px;
    color: white;
}
nav {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

nav a{
    margin: 0 -2px;
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block;
}


nav a:hover {
    background-color: #3366CC;
    transition: 0.5s ease;
}

nav a.active {
    background-color: #333399;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}
