* {
    /* border: 1px black solid; */
}

body {
    color: white;
    /* background-color: #333399; */
    background-image: linear-gradient(rgba(51,153,255,0.6), rgba(51,153,255,1.0)), url(../img/donate/clinic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 60px;
}

.main-content {
    margin: 20px auto;
    background-color: #3366CC;
    width: 600px;
    height: auto;
}

.title {
    text-align: center;
    font-size: 40px;
    padding: 30px 90px;
    color: #fff;
}

.left-image {
    object-fit: cover;
    object-position: center;
    width: 230px;
    height: 530px;
    margin-bottom: -5px; /*For some reason image have a bit margin*/
}

.right {
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: calc(100% - 294px);
    float: right;
}

#mainsub {
    transition: all 0.3s linear;
}

#right-title {
    font-size: 20px;
    font-weight: bold;
}

.payment {
    transition: 0.3s ease;
    margin: 15px;
    width: 60%;
    padding: 10px 0;
    /* padding: 10px 70px; */
    /* background-image: linear-gradient(rgba(146, 205, 0, 0.5), rgba(146, 205, 0, 0.5)); */
    border-style: solid;
    border-radius: 10px;
    border-color: #2C6700;
    background-color: #92CD00;
    transition: 0.3s
}

.payment img {
    width: auto;
    height: 70px;

}

.payment:hover {
    color: white;
    width: 80%;
    border-color: #000;
    background-color: #2C6700;
}

.animate {
    transition: 0.3s ease;
    opacity: 0.0;
    transform: translateX(-40px);
}

#cdcontent {
    transition: all 0.5s linear;
}

#cdcontent p{
    font-size: 18px;
    padding: 5px;
}

#cdcontent input {
    font-size: 14px;
    margin: 13px 0;
    padding: 15px;
    width: calc(100% - 31px);
    border-radius: 5px;
    border-style: hidden;
    /* width: 100%; */
    /* transform: translateX(-0%); */
}


#cdcontent .input-date , #cdcontent .input-cvv{
    width: 37%;
}

#cdcontent .input-date {
    float: left;
}

#cdcontent .input-cvv {
    float: right;
}

#cdcontent .donate-amount {
    width: 40%;
}

#cdcontent .fa {
    transition: all 0.3s ease;
    font-size: 30px;
    color: #444;
    transform: translate(260%, -170%);
    position: absolute;
    opacity: 0.0;
}

#cdcontent i.active {
    opacity: 1.0;
}

#cdcontent .box-error {
    border-style: solid;
    border-color: #f70d1a;
}

.button-back {
    color: white;
    font-size: 14px;
    position: absolute;
    border-style: none;
    background-color: transparent;
    transform: translate(-270%, -70%);
    transition: all 0.5s linear;
}

#cdcontent .button-pay {
    transition: 0.3s ease;
    margin-top: 20px;
    font-weight: bolder;
    border-style: solid;
    border-radius: 5px;
    border-color: #2C6700;
    background-color: #92CD00;
    padding: 10px 70px;
}

#cdcontent .button-pay:hover {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-color: #000;
    background-color: #2C6700;
    transform: translateY(-5%);
}

/* making checkmark nice */
#cdcontent .checkbox-wrapper {
    float: left;
    margin: 10px 0;
    text-align: left;
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
}

/* hide the checkmark */
#cdcontent .checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#cdcontent .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

#cdcontent .checkbox-wrapper:hover input ~ .checkmark {background-color: #ccc;}

#cdcontent .checkbox-wrapper input:checked ~ .checkmark {background-color: #2196F3;}

#cdcontent .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#cdcontent .checkbox-wrapper input:checked ~ .checkmark:after {display: block;}

#cdcontent .checkbox-wrapper .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cdcontent .terms p {
    margin-top: 3px;
    font-size: 12px;
}

#cdcontent .terms p a {
    font-size: inherit;
    color: white;
}

#cdcontent .terms p a:hover {color: blue;}

#cdcontent .error{
    position: absolute;
    margin:0;
    padding: 0;
    font-size: 10px;
    color: #f70d1a;
}

#cdcontent #error {transform: translate(5%, -90%);}
#cdcontent #error2{transform: translate(1%, 470%);}
#cdcontent #error3{transform: translate(122%, 470%);}
#cdcontent #error4{transform: translate(36%, -75%);}
#cdcontent #error5{transform: translate(10%, -40%);}

#cdcontent .black-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    border:1px solid #000;
    z-index: 1000;
}

#cdcontent .popup {
    transition: 0.3s ease;
    background-color:#3399FF;
    position: fixed;
    padding: 20px 40px;
    top: calc(50% - 50px );
    right: calc(50% - 200px);
    width: 300px;
    height: 100px;
    border-radius: 5px;
    z-index: 100;
}
#cdcontent .continue {
    transition: 0.3s ease;
    margin-top: 20px;
    font-weight: bolder;
    border-style: solid;
    border-radius: 5px;
    border-color: #2C6700;
    background-color: #92CD00;
    padding: 10px 70px;
}

#cdcontent .continue:hover {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    border-color: #000;
    background-color: #2C6700;
    transform: translateY(-5%);
}

#ppcontent {
    transition: all 0.5s linear;
}

#ppcontent p{
    font-size: 18px;
    padding: 5px;
}

#ppcontent .ps {
    font-size: 12px;
}

#ppcontent .ps a {
    font-size: inherit;
}

#ppcontent .ps a:hover {color: white;}

#descriptionError, #priceLabelError, #invoiceidError {
    visibility: hidden;
    color: red;
    text-align: center;
}

#smart-button-container input {
    font-size: 14px;
    margin: 13px 0;
    padding: 15px;
    width: calc(100% - 31px);
    border-radius: 5px;
    border-style: hidden;
}
