/**{
  border: 1px solid white;
}*/

body{
  background-color:#3399FF;
  margin: 0 auto;
}

.shopheader {
  position: relative;
  text-align: center;
  color: white;
}

.shopheader img {
  margin: 0 auto;
  width: 100%;
  filter: brightness(60%);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-weight: bolder;
}

.sidenav {
  width: 250px;
  float: left;
  position: sticky;
  z-index: 1;
  top: 80px;
  left: 10px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 0 10px 5px rgba(230, 230, 230, 0.5);
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #cccccc;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 15px;
}

.active {
  background-color: #3399FF;
  color: white;
}

.row{
  margin-top: 50px;
  content: "";
  display: table;
  padding-left: 13%;
  margin-bottom: 5%;
  margin-left: 300px;
}

.column{
  float: left;
  max-width: 220px;
  max-height: 500px;
  margin-right: 70px;
  box-shadow: 0 0 10px 5px rgba(77, 77, 77, 0.5);
  text-align: center;
  font-family: arial;
  background-color: #80BFFF;
}

.column img{
  max-width: 200px;
  padding: 10px;
}

.price {
  color: white;
  font-size: 18px;
  padding: 10px;
}

.row button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 70%;
  margin-bottom: 10px;
  font-size: 18px;
}

.row button:hover {
  opacity: 0.7;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
